.date-tech-selector-row {
  margin: 0.5em auto;
}

.date-tech-selector-row select {
  float: right;
}

@media screen and (max-width: 600px) {
  .date-tech-selector-row select {
    float: none;
    display: block;
  }
}
